.page {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.15px;
  color: #1B2129;
}

.contacts__title, .about__title, .sound-vision__title, .recommended__title {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1;
  font-size: calc(32px + 8 * (100vw - 320px) / 424);
  margin-bottom: calc(48px + 8 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .contacts__title, .about__title, .sound-vision__title, .recommended__title {
    font-size: calc(40px + 8 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .contacts__title, .about__title, .sound-vision__title, .recommended__title {
    font-size: 48px;
  }
}
@media (min-width: 767.98px) {
  .contacts__title, .about__title, .sound-vision__title, .recommended__title {
    margin-bottom: calc(56px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .contacts__title, .about__title, .sound-vision__title, .recommended__title {
    margin-bottom: 56px;
  }
}

.form__button, .sound-vision__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 48px;
  width: calc(280px + 320 * (100vw - 320px) / 424);
  height: 56px;
  border-radius: 8px;
  font-weight: 700;
  background-color: #f98921;
  color: #fff;
  z-index: 1;
}
@media (min-width: 767.98px) {
  .form__button, .sound-vision__button {
    width: calc(600px + -276 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .form__button, .sound-vision__button {
    width: 324px;
  }
}
.form__button:before, .sound-vision__button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 0;
  background-color: rgb(27, 33, 41);
  border-radius: 8px;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  z-index: -1;
}
.form__button:hover:before, .sound-vision__button:hover:before {
  height: 100%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.form__button:active, .sound-vision__button:active {
  background-color: #010810;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

a:focus,
a:active {
  outline: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

button {
  cursor: pointer;
  background-color: inherit;
}

input,
button,
textarea {
  font-size: inherit;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

.page {
  height: 100%;
  color: #1B2129;
  background-color: #fff;
}
.page__header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 3;
}
.page__header:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  opacity: var(--before-opacity, "0");
  background: rgba(236, 236, 236, 0.35);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

.page.lock {
  overflow: clip;
}
.page.lock .header__call {
  z-index: -1;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: clip;
}

[class*=__container] {
  max-width: 1260px;
  padding-inline: calc(20px + 52 * (100vw - 320px) / 424);
  margin: 0 auto;
}
@media (min-width: 767.98px) {
  [class*=__container] {
    padding-inline: calc(72px + 48 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  [class*=__container] {
    padding-inline: 120px;
  }
}

.header {
  opacity: 0;
  -webkit-transition: 0.4s linear 2s;
  transition: 0.4s linear 2s;
}
.header__content {
  position: relative;
  padding: 24px 0;
  min-height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: calc(24px + 8 * (100vw - 320px) / 424);
     -moz-column-gap: calc(24px + 8 * (100vw - 320px) / 424);
          column-gap: calc(24px + 8 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .header__icons {
    -webkit-column-gap: calc(32px + 0 * (100vw - 767.98px) / (1260 - 744));
       -moz-column-gap: calc(32px + 0 * (100vw - 767.98px) / (1260 - 744));
            column-gap: calc(32px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__icons {
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
  }
}
.header__logo {
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
  width: calc(152px + 76 * (100vw - 320px) / 424);
  height: calc(16px + 8 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .header__logo {
    width: calc(228px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__logo {
    width: 228px;
  }
}
@media (min-width: 767.98px) {
  .header__logo {
    height: calc(24px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__logo {
    height: 24px;
  }
}
.header__logo img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.header__icon {
  width: calc(24px + 8 * (100vw - 320px) / 424);
  height: calc(24px + 8 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .header__icon {
    width: calc(32px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__icon {
    width: 32px;
  }
}
@media (min-width: 767.98px) {
  .header__icon {
    height: calc(32px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .header__icon {
    height: 32px;
  }
}
.header__call {
  position: relative;
  z-index: 2;
}
.header__call img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.header__call img:hover {
  -webkit-transform: scale(1.01) translateY(-2px) rotate(10deg);
      -ms-transform: scale(1.01) translateY(-2px) rotate(10deg);
          transform: scale(1.01) translateY(-2px) rotate(10deg);
}
.header__call:before {
  content: "+1 234 5555-55-55";
  position: absolute;
  right: 50%;
  top: 50%;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-right: 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: translate(20px, -50%);
      -ms-transform: translate(20px, -50%);
          transform: translate(20px, -50%);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.header__call:hover:before {
  opacity: 1;
  -webkit-transform: scaleX(1) translate(0px, -50%);
      -ms-transform: scaleX(1) translate(0px, -50%);
          transform: scaleX(1) translate(0px, -50%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}
.header__burger {
  position: relative;
  z-index: 2;
}
.header__menu {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #ececec;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  overflow-x: hidden;
  overflow-y: auto;
}

.header__menu.active {
  opacity: 1;
  left: 0;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.header.show {
  opacity: 1;
}

.menu {
  padding-top: calc(104px + 24 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .menu {
    padding-top: calc(128px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .menu {
    padding-top: 128px;
  }
}
.menu__list {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
}
.menu__link {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  position: relative;
}
.menu__link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1B2129;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(12px);
      -ms-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.menu__link:hover:before {
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}
.menu__number {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}
.menu__number:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1B2129;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(12px);
      -ms-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.menu__number:hover:before {
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.menu__order {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  text-transform: uppercase;
}
.menu__order:before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #1B2129;
  border-radius: 5px;
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.menu__order:hover::before {
  opacity: 0;
  -webkit-transform: translateY(12px);
      -ms-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.burger {
  border-radius: 8px;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  cursor: pointer;
}

.burger:before,
.burger:after,
.burger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 15%;
  border-radius: 8px;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  background-color: #1B2129;
}

.burger span {
  top: 50%;
  opacity: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.burger.active span {
  opacity: 0;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.burger:before,
.burger:after {
  content: "";
}

.burger:before {
  top: 0;
}

.burger:after {
  bottom: 0;
}

.burger:hover:not(.active):before {
  width: 80%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.burger:hover:not(.active):after {
  width: 60%;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.burger.active:before {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.burger.active:after {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.main__recommended {
  margin-bottom: calc(96px + 24 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__recommended {
    margin-bottom: calc(120px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .main__recommended {
    margin-bottom: 120px;
  }
}
.main__sound-vision {
  margin-bottom: calc(96px + 24 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__sound-vision {
    margin-bottom: calc(120px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .main__sound-vision {
    margin-bottom: 120px;
  }
}
.main__hero {
  margin-bottom: calc(64px + 56 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__hero {
    margin-bottom: calc(120px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .main__hero {
    margin-bottom: 120px;
  }
}
.main__about {
  margin-bottom: calc(64px + 56 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__about {
    margin-bottom: calc(120px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .main__about {
    margin-bottom: 120px;
  }
}
.main__contacts {
  margin-bottom: calc(64px + 56 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .main__contacts {
    margin-bottom: calc(120px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .main__contacts {
    margin-bottom: 120px;
  }
}

.hero {
  position: relative;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: hidden;
}
.hero__fullscreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  inset: 0;
  background-image: var(--image-url, "");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.hero__fullscreen img {
  display: none;
}
.hero__fullscreen.show {
  -webkit-mask-image: url(../../images/ink/ink.gif);
          mask-image: url(../../images/ink/ink.gif);
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
}
.hero__container {
  height: 100%;
  position: relative;
  bottom: 0;
  right: 0;
}
.hero__title {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  line-height: 100%;
  color: #fff;
  z-index: 2;
  font-size: calc(36px + 12 * (100vw - 320px) / 424);
  margin-bottom: calc(40px + 24 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .hero__title {
    font-size: calc(48px + 8 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .hero__title {
    font-size: 56px;
  }
}
@media (min-width: 767.98px) {
  .hero__title {
    margin-bottom: calc(64px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .hero__title {
    margin-bottom: 64px;
  }
}

.recommended__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recommended__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.recommended__items {
  display: grid;
  grid-template-columns: repeat(1, minmax(280px, 600px));
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
  row-gap: calc(40px + 16 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .recommended__items {
    row-gap: calc(56px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .recommended__items {
    row-gap: 56px;
  }
}
@media (min-width: 1024px) {
  .recommended__items {
    grid-template-columns: repeat(3, minmax(280px, 324px));
  }
}

.item-recommended {
  position: relative;
}
.item-recommended__img {
  position: relative;
  width: 100%;
  margin-bottom: 24px;
  aspect-ratio: 1/1;
  background-color: #f9f9f9;
}
.item-recommended__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: perspective(300px) scale(1) translateY(0px) rotate(0deg);
          transform: perspective(300px) scale(1) translateY(0px) rotate(0deg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.item-recommended__img img:hover {
  -webkit-transform: scale(1.3) translateY(-50px) rotate(-5deg);
      -ms-transform: scale(1.3) translateY(-50px) rotate(-5deg);
          transform: scale(1.3) translateY(-50px) rotate(-5deg);
  cursor: pointer;
}
.item-recommended__title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}
.item-recommended__title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1B2129;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(12px);
      -ms-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.item-recommended__title:hover:before {
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.item-recommended__text p:not(:last-child) {
  margin-bottom: 10px;
}
.item-recommended__text {
  margin-bottom: 12px;
}
.item-recommended__price {
  font-weight: 700;
}
.item-recommended:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  z-index: 2;
}

.item-recommended:nth-child(1):before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.item-recommended:nth-child(2):before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.item-recommended:nth-child(3):before {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.scroll-anim.active.item-recommended:before {
  height: 0%;
}

.sound-vision__title {
  margin-bottom: 0;
}
.sound-vision__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: calc(40px + 16 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .sound-vision__items {
    row-gap: calc(56px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .sound-vision__items {
    row-gap: 56px;
  }
}
.sound-vision__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-column-gap: calc(20px + 4 * (100vw - 320px) / 424);
     -moz-column-gap: calc(20px + 4 * (100vw - 320px) / 424);
          column-gap: calc(20px + 4 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .sound-vision__images {
    -webkit-column-gap: calc(24px + 0 * (100vw - 767.98px) / (1260 - 744));
       -moz-column-gap: calc(24px + 0 * (100vw - 767.98px) / (1260 - 744));
            column-gap: calc(24px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .sound-vision__images {
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
.sound-vision__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-color: #f9f9f9;
  height: calc(130px + 54 * (100vw - 320px) / 424);
  background-image: var(--image-url, "");
  background-size: 180%;
  background-position: 50% 50%;
}
@media (min-width: 767.98px) {
  .sound-vision__img {
    height: calc(184px + 140 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .sound-vision__img {
    height: 324px;
  }
}
.sound-vision__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  background-color: #f9f9f9;
}
.sound-vision__img img:hover {
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
.sound-vision__img:nth-child(even) {
  opacity: 0;
  -webkit-transform: translateX(250px);
      -ms-transform: translateX(250px);
          transform: translateX(250px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.sound-vision__img:nth-child(odd) {
  opacity: 0;
  -webkit-transform: translateX(-250px);
      -ms-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.sound-vision__row-title {
  font-weight: 700;
  font-size: calc(18px + 6 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .sound-vision__row-title {
    font-size: calc(24px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .sound-vision__row-title {
    font-size: 24px;
  }
}
.sound-vision__row-title a {
  position: relative;
}
.sound-vision__row-title a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1B2129;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(12px);
      -ms-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.sound-vision__row-title a:hover:before {
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
.scroll-anim.active .sound-vision__img:nth-child(even) {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.scroll-anim.active .sound-vision__img:nth-child(odd) {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.img-bg .parallax-block-img {
  width: 100%;
  height: calc(200px + 200 * (100vw - 320px) / 424);
  background-image: var(--image-url, "");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@media (min-width: 767.98px) {
  .img-bg .parallax-block-img {
    height: calc(400px + 60 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .img-bg .parallax-block-img {
    height: 460px;
  }
}
.img-bg .parallax-block-img img {
  display: none;
}

.about {
  padding-block: calc(48px + 72 * (100vw - 320px) / 424);
  background-color: #fcfaef;
}
@media (min-width: 767.98px) {
  .about {
    padding-block: calc(120px + 0 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .about {
    padding-block: 120px;
  }
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}
@media (min-width: 576px) {
  .about__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 0px;
    -webkit-column-gap: calc(24px + 0 * (100vw - 320px) / 424);
       -moz-column-gap: calc(24px + 0 * (100vw - 320px) / 424);
            column-gap: calc(24px + 0 * (100vw - 320px) / 424);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (min-width: 576px) and (min-width: 767.98px) {
  .about__content {
    -webkit-column-gap: calc(24px + 86 * (100vw - 767.98px) / (1260 - 744));
       -moz-column-gap: calc(24px + 86 * (100vw - 767.98px) / (1260 - 744));
            column-gap: calc(24px + 86 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 576px) and (min-width: 1260px) {
  .about__content {
    -webkit-column-gap: 110px;
       -moz-column-gap: 110px;
            column-gap: 110px;
  }
}
.about__title {
  position: relative;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .about__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}
.about__title:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fcfaef;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.about__text {
  position: relative;
}
.about__text:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fcfaef;
  -webkit-transition: 0.4s linear 0.4s;
  transition: 0.4s linear 0.4s;
}
.about__text p:not(:last-child) {
  margin-bottom: 10px;
}

.scroll-anim.active .about__title:before {
  height: 0%;
}

.scroll-anim.active .about__text:before {
  height: 0%;
}

.contacts__body {
  display: grid;
}
@media (min-width: 1024px) {
  .contacts__body {
    grid-template-columns: repeat(12, 1fr);
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
.contacts__form {
  margin-bottom: calc(48px + 32 * (100vw - 320px) / 424);
  opacity: 0;
  -webkit-transform: translateX(-250px);
      -ms-transform: translateX(-250px);
          transform: translateX(-250px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
@media (min-width: 767.98px) {
  .contacts__form {
    margin-bottom: calc(80px + -80 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .contacts__form {
    margin-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .contacts__form {
    grid-column: 1/7;
  }
}
.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
  opacity: 0;
  -webkit-transform: translateX(250px);
      -ms-transform: translateX(250px);
          transform: translateX(250px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}
@media (min-width: 1024px) {
  .contacts__items {
    grid-column: 8/-1;
  }
}
.contacts__subtitle {
  margin-bottom: 8px;
  font-size: 14px;
  color: #9393a3;
}
.contacts__link {
  color: #191919;
  position: relative;
}
.contacts__link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #191919;
  border-radius: 5px;
  opacity: 0;
  -webkit-transform: translateY(12px);
      -ms-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.contacts__link:hover:before {
  opacity: 1;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
}
.form__item {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  padding: 14px 16px;
  border-radius: 8px;
  background: rgb(249, 249, 249);
  border: 2px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form__item::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.4;
  color: #7e7e83;
}
.form__item::-moz-placeholder {
  font-size: 14px;
  line-height: 1.4;
  color: #7e7e83;
}
.form__item:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4;
  color: #7e7e83;
}
.form__item::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.4;
  color: #7e7e83;
}
.form__item::placeholder {
  font-size: 14px;
  line-height: 1.4;
  color: #7e7e83;
}
.form__item:hover {
  border: 2px solid rgb(219, 219, 219);
}
.form__item:hover::-webkit-input-placeholder {
  color: #1B2129;
}
.form__item:hover::-moz-placeholder {
  color: #1B2129;
}
.form__item:hover:-ms-input-placeholder {
  color: #1B2129;
}
.form__item:hover::-ms-input-placeholder {
  color: #1B2129;
}
.form__item:hover::placeholder {
  color: #1B2129;
}
.form__item:focus {
  border: 2px solid #f98921;
}
.form__message {
  font-family: "Manrope", sans-serif;
  min-height: 148px;
  margin-bottom: 16px;
  color: #7e7e83;
}
.form__message:hover {
  color: #1B2129;
}
.form__button {
  width: calc(280px + 320 * (100vw - 320px) / 424);
}
@media (min-width: 767.98px) {
  .form__button {
    width: calc(600px + -102 * (100vw - 767.98px) / (1260 - 744));
  }
}
@media (min-width: 1260px) {
  .form__button {
    width: 498px;
  }
}

.scroll-anim.active.contacts__form {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.scroll-anim.active.contacts__items {
  opacity: 1;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}