:root {
  --x: 0;
  --y: 0;
  }
  
.page {
  height: 100%;
  @extend %main-text;
  color: $text-color;
  background-color: $bg-color;
  
  &__header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 3;
    
    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 100%;
      opacity: var(--before-opacity, '0');
      background: rgba(236, 236, 236, 0.35);
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
      transition: $transition-duraction;
      z-index: 2;
    }
  }
}
.page.lock {
  overflow: clip;
  .header__call {
    z-index: -1;
  }
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: clip;
}
[class*="__container"] {
  max-width: 1260px;
  @include adaptive-property(padding-inline, 20, 72, 120);
  margin: 0 auto;
}
