.recommended {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    align-self: flex-start;
    @extend %section-title;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(1, minmax(280px, 600px));
    column-gap: 24px;
    @include adaptive-property(row-gap, 40, 56, 56);

    @include onDesktop {
      grid-template-columns: repeat(3, minmax(280px, 324px));
    }
  }
}
.item-recommended {
  position: relative;
  &__img {
    position: relative;
    width: 100%;
    margin-bottom: 24px;
    aspect-ratio: 1/1;
    background-color: #F9F9F9;

    img {
      @include ibg;
      transform: perspective(50px) scale(1) translateY(0px);
      transition: $transition-duraction;
      &:hover {
        transform: scale(1.3) translateY(-50px) rotateX(-10deg) rotateY(10deg);
        cursor: pointer;
      }
    }
  }
  &__title {
    width: max-content;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    @include link-hover($text-color);
  }
  &__text p:not(:last-child) {
    margin-bottom: 10px;
  }
  &__text {
    margin-bottom: 12px;
  }
  &__price {
    font-weight: 700;
  }
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: $transition-duraction linear;
    z-index: 2;
  }
}
.item-recommended:nth-child(1):before {
  transition-delay: 0s;
}
.item-recommended:nth-child(2):before {
  transition-delay: 0.2s;
}
.item-recommended:nth-child(3):before {
  transition-delay: 0.4s;
}
.scroll-anim.active .item-recommended:before {
  height: 0%;
}
