.sound-vision {
  &__title {
    @extend %section-title;
    margin-bottom: 0;
  }
  &__items {
    display: flex;
    flex-direction: column;
    @include adaptive-property(row-gap, 40, 56, 56);
  }
  &__images {
    display: flex;
    margin-bottom: 16px;
    @include adaptive-property(column-gap, 20, 24, 24);
  }
  &__img {
    position: relative;
    flex: 0 1 50%;
    background-color: #f9f9f9;
    @include adaptive-property(height, 130, 184, 324);
    background-image: var(--image-url, "");
    background-size: 180%;
    background-position: 50% 50%;

    img {
      @include ibg;
      transition: 0.2s;
      background-color: #f9f9f9;

      &:hover {
        opacity: 0;
        transition: 0.2s;
        cursor: zoom-in;
      }
    }
  }
  &__img:nth-child(even) {
    opacity: 0;
    transform: translateX(250px);
    transition: $transition-duraction ease-in;
  }
  &__img:nth-child(odd) {
    opacity: 0;
    transform: translateX(-250px);
    transition: $transition-duraction ease-in;
  }

  &__row-title {
    font-weight: 700;
    @include adaptive-property(font-size, 18, 24, 24);

    a {
      @include link-hover($text-color);
    }
  }
  &__button {
    @extend %button;
  }
}
.scroll-anim.active .sound-vision__img:nth-child(even) {
  opacity: 1;
  transform: translateX(0px);
  transition: $transition-duraction ease-in-out;
}
.scroll-anim.active .sound-vision__img:nth-child(odd) {
  opacity: 1;
  transform: translateX(0px);
  transition: $transition-duraction ease-in-out;
}
